/* Estilos para o Footer */
.footer {
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: -60px; /* Inicialmente fora da tela */
    width: 100%;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }
  
  .footer-content {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
  
  /* Classe para mostrar o Footer */
  .footer.show {
    bottom: 0;
    opacity: 1;
  }
  