.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.move-icon {
  cursor: move;
  margin-right: 10px;
}

.todo-checkbox {
  margin-right: 10px;
}

.custom-checkbox {
  /* Seu estilo personalizado para o checkbox */
}

.todo-text {
  flex-grow: 1;
  cursor: pointer;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #999;
}

.edit-input {
  flex-grow: 1;
  margin-right: 10px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.remove-title {
  /* Estilo para o botão de remover */
}

.comment-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.comment-icon:hover {
  opacity: 0.8;
}
