.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: -15px;
  opacity: 1;
}

.todo-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.todo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d0d5dd;
  margin-right: 10px;
  position: relative;
  background-color: #d0d5dd;
}

.todo-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-checkbox input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #1d2939;
}

.todo-checkbox .custom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.Move-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.todo-text {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: text-decoration 0.2s ease-in-out;
  padding: 10px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #98a2b3;
}

.edit-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f2f4f7;
  border-radius: 4px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-actions button {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-left: 10px;
}

.editing-indicator {
  background-color: #344054;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #344054;
  border-radius: 35px;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.tasks-title {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-left: -100px;
  font-size: 14px;
  padding: 10px;
}

/* Estilos para a caixa de comentário */
.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Certifique-se de que a caixa de comentário esteja acima de outros elementos */
}

.comment-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  transform: translateY(30%);
}

.comment-content textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #98A2B3;
  border-radius: 16px;
}

.comment-content button {
  padding: 10px 10px;
  transform: translateX(120%);
  border: none;
  width: 100px;
  height: 100px;
  background-color: #1d2939;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

/* Estilo para TaskItem */

.task-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.task-item:hover {
  background: #f5f5f5;
}
